@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    background-color: #d2d2d2;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(41, 40, 40);
    width:100%;
    font-size: xxx-large;
}
h2 {
color:rgb(41, 40, 40);
display: flex;
align-items: center;
justify-content:center ;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #d2d2d2;
    width: 100%;
    padding: 1px;

}

.logo,
Botoens {
    width: 25%;
    margin-right: 600px;
}

.logo img {
    width: 100px;
    cursor: pointer;
}
.Botao-1 button {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(45deg,#ffffff);
    border:none;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 50px;
    color:#ffffff
}

.Botao-1 button i {
    font-size: 20px;
    color: #ffffff;
}
.Botao-2{
font-size: 20px;
color: #ffffff
}
.animes{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    }
    
    .coluna img {
    width: 500px;
    height: 700px;
    cursor: pointer;
    }
      #banner {
        display: flex;
        overflow: hidden;
      }
    
      .banner-image {
        flex: 1;
        max-width: 25%;
        overflow: hidden;
        position: relative;
      }
    
      .banner-image img {
        width: 100%;
        height: 100%;
        transition: transform 0.3s;
      }
    
      .banner-image:hover img {
        transform: scale(1.1);
      }
      .titulo{
        display: flex;
        justify-content: center;
        font-size: x-large;
        font-size: 1.5rem;
     
        
      }
    .titulo-2 {
        height: 0.25rem;
        width: 100%;
        margin-top: 0.5rem;
        background-image: linear-gradient(to var(--cr-start-direction),#213944,#2abdbb);
    }
    * {box-sizing: border-box;}
    body {font-family: Verdana, sans-serif;}
    .mySlides {display: none;}
    img {vertical-align: middle;}
    
    /* Slideshow container */
    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }
    
    /* Caption text */
    .text {
      color: #000 ;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
  
    /* The dots/bullets/indicators */
    .dot {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active {
      background-color: rgb(80, 79, 79);
    }
    
    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
      .text {font-size: 11px}
    }
    @keyframes slidesImg { 

       from{ 
      
       transform: translateX(0); 
      
       } 
      
       to{ 
      
       transform: translateX(-100%); 
      
       } 
      
      } 
      
      .slides{ 
      
       overflow: hidden; 
      
       padding: 25px 0; 
      
       white-space: nowrap; 
      
     position: relative; 
      
       background: rgb(218, 212, 212);
      
      } 
      
       
      
      .slides:before, 
      
      .slides:after { 
      
       position: absolute; 
      
       top: 0; 
      
       width: 100px; 
      
       height: 100%; 
      
       content: ""; 
      
      } 
      
       
      
      .slides:before { 
      
       left: 0; 
      
       background: linear-gradient(to left, rgba(255, 255, 255, 0), white); 
      
      } 
      
       
      
      .slides:after { 
      
       right: 0; 
      
       background: linear-gradient(to right, rgba(255, 255, 255, 0), white); 
      
      } 
      
       
      
      /*.slides:hover .slides_img{ 
      
       animation-play-state: paused; 
      
      } */
      .slides_img{ 
      
       display: inline-block; 
      
     animation: 12s slidesImg infinite linear; 
      
      } 
      .slides_img img{ 
      border-radius: 15% ;
      height: auto; 
      width: 10%; 
      margin: 0 40px;
    border-width: 5px;
   border-style: solid; 
   border-color:  #000;
      } 
      
       