@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    background-color: #16131d;
}
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #16131d;
    font-size: larger;
    color: rgb(128, 8, 172);
  align-items: center;
  justify-content: center;
  text-align: center;               
}
.container3{

    margin-left: 40px;
}   
.palavras {
    width: 1000px;
}

h1{
color: #c20a0a;
}
