@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    background-color: #16131d;
}
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #16131d;
    font-size: larger;
    justify-content: center;
    align-items: center;
    color: white;
}
.container3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
